
body {
	font-family:sans-serif;
	font-weight:bold;
	font-size:12px;
}
.inbox-item{
	margin:20px;
	border:solid black 2px;
	width:100px;
	padding:3px;
	display:inline-block;
  }
  .inbox-item * {
	border:solid #e6e4e4 1px;
	margin:5px;
	display:inline-block;
  }

  [arc-out]{
	  padding:5px;
	  background-color:green;
		color:white;
		margin:10px;
  }
